<h2>Log in</h2>

<%= form_with model:@customer, url:customer_session_path do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "publics/shared/links" %>
