<table class="table">
  <tbody>
    <tr>
      <th>商品名</th>
      <td><%= @product.product_name%></td>
    </tr>
    <tr>
      <th>商品説明</th>
      <td><%= @product.introduction%></td>
    </tr>
    <tr>
      <th>
        税込価格　<br>
        (税抜価格)
      </th>
      <td>
        <%= (@product.price*1.1).round %> 
        (<%= @product.price %>) 円
      </td>
    </tr>
  </tbody>
</table>

<%= link_to "編集する", edit_admins_product_path(@product) %>